.hero {
  padding: 2.5rem;
  padding-bottom: 5.5rem;
  background-image: url(../assets/pattern-bg-desktop.png);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  h1 {
    color: #ffffff;
  }
}

.input {
  display: flex;

  input {
    padding: 1rem;
    border: none;
    width: 35rem;
    font-size: var(--font-input-size);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  button {
    background-color: var(--color-very-dark-grey);
    border: none;
    padding: 1rem 1.25rem;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}
