.infoContainer {
  --margin: 10%;
  position: absolute;
  left: var(--margin);
  right: var(--margin);
  top: 0;
  margin-top: 12rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 2.5rem;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 5000;

  div {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    text-wrap: balance;
    font-weight: var(--weight-bold);
  }
}

.heading {
  color: var(--color-dark-grey);
  font-weight: var(--weight-bolder);
}

.infoContainer > .divider {
  width: 1px;
  margin: 0 1rem;
  background-color: var(--color-dark-grey);
}

@media screen and (max-width: 768px) {
  .infoContainer {
    flex-direction: column;
    left: 1.5rem;
    right: 1.5rem;
    text-align: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .divider {
    display: none;
  }
}
